/* Styles CSS pour centrer le conteneur du jeu */
.game-container-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh; /* Hauteur de la fenêtre visible */
      overflow: hidden;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
  border: 3px solid #000;
  max-width: 520px;
  max-height: 520px;
  overflow:hidden;
}

.cell {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid #999;
  display: flex;
  align-items:center;
  justify-content:center;
  
}

/* Styles pour les guerriers */
.warrior {
  width: 100%; /* Remplir la cellule */
  height: 100%; /* Remplir la cellule */
  object-fit:contain; /* Ajuster l'image dans la cellule */
}
